!!! 5
%html
  %head
    %title PinCloneApp
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container
        .navbar-header
          %p.navbar-text.navbar-right
            = link_to "Pins", root_path
    .container
      = yield
